/*
    color design
    https://www.w3schools.com/colors/colors_monochromatic.asp

    #E4F1F6 light
    #67AFCB
    #347B98
    #1A3E4C
    #092834 dark
*/

/****************************** global ******************************/

* {
    margin:0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
}

div.clear {
    clear: both;
}

ol, ul {
    list-style-position: inside;
}

/****************************** header ******************************/

header {
    background: #2F5B6C;
    color: #E4F1F6;
    padding: 3em 1em;
}

/****************************** nav ******************************/

nav {
    background: #1A3E4C;
    padding: 1em;
}

nav a {
    color: #67AFCB;
    text-decoration: none;
    margin: 1em;
    display: block;
    float: left;
}

nav a:hover {
    color: #E4F1F6;
    text-decoration: underline;
}

nav a#active {
    color: #E4F1F6;
    text-decoration: underline;
}

/****************************** main ******************************/

main {
    padding: 1em;
    background: #E4F1F6;
}

main > section {
    border-bottom: 1px solid #092834;
}

main > section:last-child {
    border: None;
}

/****************************** sections ******************************/

section {
    padding: 1em;
}

section.product section {
    padding: 0.5em;
}

/****************************** footer ******************************/
footer {
    background: #092834;
    padding: 1em;
    color: #67AFCB;
}

/****************************** images ******************************/

img.product_icon {
    float: left;
    margin: 0 1em 0 0;
    height: 4em;
}

/****************************** console ******************************/

.console_black {
    background: black;
    border: 5px solid #aaa;
    font: "Lucida Console", "Courier New", sans-serif;
    font-size: 1em;
    color: #aaa;
    margin-bottom: 1em;
    box-shadow: 2px 2px 2px #000;
    overflow: auto;
}